* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(173, 78, 103);
    transition: background-color 0.5s;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    font-size: 20px;
    gap: 20px;
    padding: 20px;
    background: #000;
    color: rgb(173, 78, 103);
}
#logo {
    flex-grow: 1;
}
.nav-bar a {
    color: rgb(173, 78, 103);
    font-size: 20px;
    text-decoration: none;
}
.nav-bar a:hover {
    cursor: pointer;
    font-size: 25px;
}
.mode {
    border-radius: 10rem;
}
.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#name {
    font-size: 6rem;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home h1::before {
    content: '';
    position: absolute;
    right: 0;
    width: 80%;
    height: 20%;
    background: linear-gradient(90deg, transparent 0%, rgb(173, 78, 103) 5%, rgb(173, 78, 103) 100%);
    animation: animate 3s linear forwards;
}
@keyframes animate {
    0% {
        right: 0%;
    }
    100% {
        right: -80%;
    }
}
.snowflake {
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    animation: fall 5s linear infinite;
    border-radius: 15rem;
    width: 15px;
    height: 15px;
}
@keyframes fall {
    0% {
        top: 0px;
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        top: 100vh;
        transform: translateX(-50%) rotate(360deg);
    }
}
#toggleImage {
    width: 35px;
    height: 35px;
    border-radius: 20rem;
}
.container {
    text-align: center;
}
img {
    cursor: pointer;
    width: 300px;
    height: 300px;
    transition: filter 0.5s;
}
p {
    font-size: 20px;
    transition: color 0.5s;
}
a {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    transition: color 0.5s;
    text-decoration: none;
}
body.light-mode {
    background-color: rgb(173, 78, 103);
}
body.dark-mode {
    background-color: #4676b4;
}
body.light-mode img {
    filter: brightness(1);
}
body.dark-mode img {
    filter: brightness(0.5);
}
body.light-mode p {
    color: rgb(173, 78, 103);
}
body.dark-mode p {
    color: #4676b4;
}
body.light-mode a {
    color: rgb(173, 78, 103);
}
body.dark-mode a {
    color: #4676b4;
}
body.light-mode animate {
    color: rgb(173, 78, 103);
}
body.dark-mode animate {
    color: #4676b4;
}
