* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #000;
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #000; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,#9e225c, rgb(75, 124, 196));
    border-radius: 6px; 
}

p{
    color: #9e225c;
}

/* .star {
    position: relative;
    display: block;
    margin: 50px;
    width: 100px;
    height: 100px;
    background-color: #3d3c3c;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
} */

/* ==================== Header ==================== */

header{
    z-index: 100;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to bottom,#000,#000,#000,#000,#000,#000,#000,#000,#3d3c3c);
}

#logo {
    flex-grow: 1;
}

.nav-bar a {
    text-decoration: none;
    transition: 350ms;
}

.nav-bar a:hover {
    cursor: pointer;
    font-size: larger;
}

.switch {
    --circle-dim: 1.4em;
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3d3c3c;
    transition: .4s;
    border-radius: 30px;
}

.slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
}

.slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
}

.slider-card-front {
    background-color: #9e225c;
}

.slider-card-back {
    background-color: rgb(75, 124, 196);
    transform: rotateY(100deg);
}

input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
}

input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(100deg);
}

input:checked ~ .slider-card {
    transform: translateX(1.5em);
}

input:checked ~ .slider {
    background-color: #3d3c3c;
}

#toggleImage {
    width: 35px;
    height: 35px;
    border-radius: 20rem;
}

.container {
    text-align: center;
}

p {
    transition: color 0.5s;
}

a {
    display: block;
    transition: color 0.5s;
    text-decoration: none;
}

h1,h2,h3{
    transition: color 0.5s;
}

body.light-mode {
    background-color: #9e225c;
}

body.dark-mode {
    background-color: rgb(75, 124, 196);
}

body.light-mode img {
    filter: brightness(1);
}

body.dark-mode img {
    filter: brightness(0.5);
}

body.light-mode p {
    color: rgb(75, 124, 196);
}

body.dark-mode p {
    color: #9e225c;
}

/* ==================== Home ==================== */

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#name {
    font-size: 6rem;
    z-index: 10;
}

.home {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Home h1 {
    color: #000;
}

.snowflake {
    position: absolute;
    top: 0px;
    transform: translateX(0%);
    animation: fall 5s linear infinite;
    border-radius: 15rem;
    width: 15px;
    height: 15px;
}

.snowflake2 {
    position: absolute;
    top: 0px;
    transform: translateX(0%);
    animation: fall 5s linear infinite;
    border-radius: 15rem;
    width: 15px;
    height: 15px;
}

@keyframes fall {
    0% {
        top: 0px;
    }
    100% {
        top: 97vh;
    }
}

#name,
#name2 {
    animation: transDark 5s linear;
    transition: all 2s ease;
}

@keyframes transDark {
    0% {
        color: #000;
    }
    5% {
        color: #000;
    }
    10% {
        color: #000;
    }
    100% {
        columns: #9e225c;
    }
}

#name2{
    font-size: 1.25rem;
}

.hh{
    border: #3d3c3c solid 1px;
    width: 100%;
}

/* ==================== about, skills ==================== */

.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.ab1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 7rem 0 5rem 0;
}

.part2{
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

.part3{
    font-size: 3rem;
    margin: 0 0 5rem 0;
}

.a1{
    border: #3d3c3c 1px solid;
    width: 270px;
}

.ab2{
    width: 700px;
    align-items: center;
    margin: 0 0 5rem 0;
}

.ab2 p{
    margin: 0 0 2rem 0;
}

.mrrrrrrrrrr{
    display: flex;
    align-items: center;
}

.pp,.Languages{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ab4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.r {
    display: flex;
    flex-direction: row;
    gap: 40px;
    img {
        transition: 350ms;
        width: 60px;
        height: 60px;
    }
}

.r img:hover {
    width: 70px;
    height: 70px;
    box-shadow: 0 0 5rem #fff;
    transition: all 0.2s;
}

/* ==================== education ==================== */

.education{
    display: flex;
    height: 100vh;
}

.edu1{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10rem 5rem;
    justify-content: center;
}

.educ2{
    display: flex;
    align-items:center ;
    justify-content: center;
}

.edu2{
    font-size: 5rem;
}

.ed3{
    margin: 0 0 3rem 0;
}

.edu3 p{
    margin: 0 0 1rem 0;
}

.bord{
    border: #3d3c3c 1px solid;
}

/* ==================== Projects1,2 ==================== */

.pprojects {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: url("https://wallpapers.com/images/hd/blue-and-pink-background-1920-x-1080-fcz6mjb41khehjpw.jpg"); */
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pprojects2,.pprojects1{
    height: 100vh;
}

.pprojects img{
    border-radius: 30px;
    margin: 0 0 1rem 0;
    width: 350px;
}

.projects-front,.projects-coding{
    display:  flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tit{
    margin: 0 0 0.75rem 0;
}

.projects-coding{
    display: flex;
    flex-direction: column;
}

.pr2{
    display: flex;
    gap: 50px;
}

.p1,.p2{
    display: flex;
    align-items: center;
}

.slidecard,.slidecard2{
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-image: linear-gradient(to right,#9e225c, rgb(75, 124, 196)) 1;
}

.slidecard{
    width: 400px;
    height: 500px;
}

.slidecard2{
    width: 400px;
    height: 300px;
}

.slidecard:hover{
    width: 405px;
    height: 520px;
    transition: all 0.3s;
    box-shadow: 0 0 5rem #fff;
}

.slidecard2:hover{
    width: 405px;
    height: 320px;
    transition: all 0.3s;
    box-shadow: 0 0 5rem #fff;
}

.part{
    font-size: 5rem;
}

.bord2{
    border: #3d3c3c 1px solid;
    margin: 0 0 5rem 0;
    width: 800px;
}

.slidecard2 button{
    margin: 2rem 0 0 0;
}

.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #000;
    --color-background: #3d3c3c;
    --color-outline: #000;
    --color-shadow: #00000080;
}

.front-details{
    margin: 2rem 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),
      linear-gradient(
        137.48deg,
        #5379e2 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
}
  
#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}
  
strong {
    z-index: 2;
    font-family: "Avalors Personal Use";
    font-size: 12px;
    letter-spacing: 5px;
    color: #ffffff;
    text-shadow: 0 0 4px white;
}
  
#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}
  
.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}
  
.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}
  
.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}
  
.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}
  
.btn:hover {
    transform: scale(1.1);
}
  
.btn:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}
  
.btn:active .circle {
    background: #fe53bb;
}
  
#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}
  
#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}
  
#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}
  
#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}
  
#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}
  
@keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
}
  
@keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
}
  
@keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
}
  
@keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* ==================== certificates ==================== */

.certificates{
    height: 100vh;
}

.certificates img{
    border-radius: 30px;
    margin: 0 0 1rem 0;
}

.slidecard3{
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    width: 400px;
    height: 440px;
    border: 3px solid;
    border-image: linear-gradient(to right,#9e225c, rgb(75, 124, 196)) 1;
}

.slidecard3:hover{
    width: 405px;
    height: 460px;
    transition: all 0.3s;
    box-shadow: 0 0 5rem #fff;
}

.tit2{
    margin: 2rem 0;
}

/* ==================== Contact ==================== */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.accounts{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 0 0 2rem 0;
}

.acc{
    display: flex;
    gap: 40px;
    margin: 0 0 2rem 0;
}

.acc img{
    width: 50px;
    height: 50px;
    transition: 350ms;
}

.acc img:hover{
    width: 60px;
    height: 60px;
    box-shadow: 0 0 5rem #fff;
}

.fi{
    font-family: Pristina;
    font-size: 10rem;
    
}

.accounts p{
    font-size: 1rem;
}

/* //////////////////////////////////////////////////////////////////// */

p{
    font-size: 1.5rem;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width : 1024px){
    .about{
        width: 400px;
    }

    .slider2 {
        height: 400px;
        width: 400px;
    }

    .slider2 img{
        width: 400px;
        height: 400px;
    }

    p{
        font-size: larger;
    }

    .pp{
        width: 456px;
    }

    .speech{
        width: 400px;
    }
}

@media screen and (max-width : 768px){
    .Overview{
        display: none;
    }

    #Overview{
        display: flex;
    }

    .about{
        width: 400px;
    }

    .slider2 {
        height: 400px;
        width: 400px;
    }

    .slider2 img{
        width: 400px;
        height: 400px;
    }

    p{
        font-size: larger;
    }

    .pp{
        width: 456px;
    }

    .speech{
        width: 400px;
    }

    .Overview{
        flex-direction: column;
    }

    h1{
        font-size: larger;
    }
}
