* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins",sans-serif;
}
:root{
    --bg-color: #080808;
    --second--bg-color: #131313;
    --text-color:#fff;
    --main-color:#860340;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 15px; 
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color); 
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 15px;
}

/* ==================== Header ==================== */

header section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a{
    font-size: 1.8rem ;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem ;
    color: var(--main-color);
    display: none;
}

/* ==================== Home ==================== */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-content p{
    width: 100%;
}

#first{
    display: none;
}

.home-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 3rem;
    margin-left: 5rem;
}

span{
    color: var(--main-color);
}

.logo span{
    clear: var(--main-color);
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-div {
    margin-top: 3rem;
    text-align: center;
    width: 50%;
}

.moon{
    height: 40rem;
    width: 40rem;
    position: relative;
    top: 3rem;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: box-shadow 0.4s ease-in-out; 
    animation: moveY 3s infinite alternate; 
}

.moon:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

@keyframes moveY {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(50px);
    }
}


.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem ;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #000;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-last-of-type(1){
    background-color: #000;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-last-of-type(1):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: #000;
}

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "FCAI-CU Student";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.5s infinite,typing 20s steps(20) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%,20%{
        content: "FCAI-CU Student";
    }

    21%,40%{
        content: "Software Engineer";
    }

    41%,60%{
        content: "Full-Stack Developer";
    }

    61%,80%{
        content: "Front-End Developer";
    }

    81%,100%{
        content: "Back-End Developer";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,75%,90%,95%{
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

/* ==================== education ==================== */

.heading,.label{
    font-size: 8rem;
    text-align: center;
    margin: 0 0 5rem 0;
}

.education,.codingprojects,.frontprojects,.certificates,.experience{
    padding: 100px 15px;
    background: var(--second--bg-color);
}

.education h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-item p{
    margin-bottom: 2rem;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem ;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3{
    font-size: 30px;
    color: #fff;
    margin: 0 0 3rem;
    font-weight: 500;
}

.timeline-content p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* ========================= experience ========================= */

.experience {
    background-color: var(--bg-color);
    width: 100%;
}

.exper-container{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 2rem;
    gap: 2rem;
}

.exper-box{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    height:  320px;
    width: 500px;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.4s ease-in-out;
    text-align: center;
}

.exper-box:hover{
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.1);
    box-shadow: 0 0 5rem var(--main-color);
}

.experience h4{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
    padding: 2rem 6rem;
}

.langu{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
}

.experience h3{
    font-size: 2rem;
}

.experience i{
    font-size: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* ==================== Projects1,2 ==================== */

.frontprojects{
    background-color: var(--second--bg-color);
}

.codingprojects{
    background-color: var(--bg-color);
}

.projects img,.certificates img{
    margin: 0 0 1.5rem 0;
    width: 587px;
    height: 240px;
    border-radius: 30px;
}

.slidecard,.slidecard3{
    width: 600px;
    height: 500px;
}

.slidecard2{
    width: 600px;
    height: 350px;
}

.slidecard-div,.slidecard3-div{
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 11rem;
}

.slidecard2-div{
    margin-top: 3rem;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 11rem;
}

.projects-front h1 ,.projects-coding h1{
    font-size: 4rem;
    font-weight: 500;
}

.front-details,.coding-details{
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
    margin: 2rem 2rem;
}

.projects-front,.projects-coding{
    display:  flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.codingprojects,.frontprojects,.certificates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.slidecard, .slidecard2, .slidecard3 {
    background: var(--second--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--main-color); 
    border-radius: 35px;
    padding: 0 0 4rem 0;
}

.slidecard, .slidecard3 {
    background: var(--bg-color);
}

.slidecard:hover,.slidecard2:hover,.slidecard3:hover,.r img:hover,.acc img:hover{
    transform: scale(1.01,1.01);
    transition: all 0.3s;
    box-shadow: 0 0 5rem var(--main-color);
}

.coding-details{
    padding: 1rem 1rem;
}
  
.cer-exp,.front-exp.code-exp{
    display: none;
}

.btn-pro {
    align-items: center;
    background-image: linear-gradient(100deg,var(--main-color),var(--text-color));
    border: 0;
    box-sizing: border-box;
    color:var(--main-color);
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    width: 100px;
    height: 40px;
    background-color: var(--bg-color);
}

.btn-pro a{
    color: var(--main-color);
}

.btn-pro a:hover{
    color: #000;
}
   
.btn-pro:active,.btn-pro:hover {
    outline: 0;
    color: #000;
    box-shadow: 0 0 2rem var(--main-color) ;
    transform: scale(1.1);
}
   
.btn-pro h1 {
    background-color: var(--second--bg-color);
    color: var(--main-color);
    padding: 3px 19px;
    transition: 300ms;
    font-size: 2rem;
}

.frontprojects .btn-pro h1 ,.certificates .btn-pro h1 {
    background-color: var(--bg-color);
}
   
.btn-pro:hover a {
    color: #000;
}

.btn-pro:hover h1 {
    background: none;
}

.expand {
    margin-top: 5rem ;
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge var(--main-color);
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
  
.frontprojects .expand::after ,.certificates .expand::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: var(--second--bg-color);
    transition: 0.5s;
    transform-origin: center;
}
  
.frontprojects .expand::before ,.certificates .expand::before{
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: var(--second--bg-color);
    transition: 0.5s;
}

.codingprojects .expand::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: var(--bg-color);
    transition: 0.5s;
    transform-origin: center;
}
  
.codingprojects .expand::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: var(--bg-color);
    transition: 0.5s;
}
  
.expand:hover::before, .expand:hover::after {
    transform: scale(0)
}
  
.expand:hover {
    box-shadow: inset 0px 0px 25px var(--main-color);
    transform: scale(1.1);
    color: var(--main-color);
}

/* ==================== certificates ==================== */

.certificates{
    background-color: var(--second--bg-color);
}

.certificates .btn-pro{
    width: 150px;
}

.certificate{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.slidecard3-div{
    gap: 2rem;
}

.tit-cer{
    font-size: 3rem;
    text-align: center;
}

.tit-from{
    font-size: 2.5rem;
}

/* ==================== Contact ==================== */

footer section{
    height: 100vh;
}

.contact{
    background-color: var(--second--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    height: 60%;
}

.contact p{
    font-family: 'Tangerine',sans-serif;
    font-size: 7rem;
    font-weight: 1000;
    text-align: center;
    color: var(--main-color);
}

.footer{
    height: 40%;
    bottom: 0;
    width: 100%;
    padding: 40px 0 20px 0;
    background-color: var(--bg-color);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover{
    transform: scale(1.1)translateY(-10px);
    background-color: var(--main-color);
    color: #000;
    box-shadow: 0 0 25px var(--main-color);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width : 1279px) {
    html{
        font-size: 59%;
    }

    .projects img,.certificates img{
        width: 480px;
        height: 247px;
    }
    
    .slidecard,.slidecard3,.slidecard2{
        width: 490px;
    }

    .moon{
        height: 35rem;
        width: 35rem;
    }

    .exper-box{
        width: 320px;
    }

    .experience h4{
        padding: 2rem 0rem;
    }
}

@media (max-width : 1024px) {
    html{
        font-size: 55%;
    }

    .home{
        margin-top: 2rem;
    }

    .timeline-items::before{
        left: 7px;
    }

    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }

    .timeline-dot{
        left: 0;
    }

    .footer{
        padding: 2rem 3%;
    }

    .projects img,.certificates img{
        width: 430px;
        height: 265px;
    }
    
    .slidecard,.slidecard3,.slidecard2{
        width: 440px;
    }

    .btn-pro h1 {
        padding: 5px 21px;
    }

    .certificates .btn-pro h1 {
        padding: 5px 24px;
    }

    .moon{
        height: 30rem;
        width: 30rem;
    }

    .navbar a{
        font-size: 1.5rem ;
        font-weight: 500;
    }
}

@media (max-width : 895px) {
    html{
        font-size: 50%;
    }

    .projects-front,.projects-coding,.certificate{
        flex-direction: column;
    }

    .projects img,.certificates img{
        width: 430px;
        height: 280px;
    }

    .btn-pro h1 {
        padding: 6px 23px;
    }

    .certificates .btn-pro h1 {
        padding: 6px 29px;
    }

    .home{
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-top: 7rem ;
        margin-bottom: 7rem;
        gap: 8rem;
    }

    #second{
        display: none;
    }

    #first{
        display: block;
    }

    .home-div{
        width: 100%;
    }

    .home-content{
        padding-left: 5rem;
        margin-left: 0 ;
        width: 100%;
    }

    .home-content p{
        width: 95%;
    }

    .moon{
        width: 35rem;
        height: 35rem;
    }

    .exper-box{
        height: 260px;
    }
}

@media screen and (max-width : 768px){
    .label,.heading{
        font-size: 6rem;
    }

    .footer ul li a{
        font-size: 67%;
    }

    .footer .copyright{
        font-size: 12px;
    }

    .contact{
        margin-bottom: 15px;
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 30%;
        height: 100vh;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-left: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: #fff;
    }

    .exper-container{
        flex-direction: column;
    }

    .exper-box{
        width: 440px;
        text-align: center;
    }

    .experience h4{
        text-align: center;
        padding:2rem  7rem;
    }
}

@media screen and (max-width : 500px){
    html{
        font-size: 37%;
    }

    .education,.codingprojects,.frontprojects,.certificates{
        padding: 50px 15px;
    }

    .timeline-content{
        padding: 20px ;
    }

    .label{
        font-size: 5.1rem;
    }

    .projects img,.certificates img{
        width: 280px;
        height: 150px;
    }

    .slidecard,.slidecard3,.slidecard2{
        width: 290px;
        height: 325px;
    }

    .slidecard2{
        height: 250px;
    }

    .btn-pro h1 {
        padding: 10px 30px;
    }

    .certificates .btn-pro h1 {
        padding: 10px 41px;
    }

    .footer ul li{
        padding: 0 3px;
    }

    .footer .copyright{
        font-size:10px;
    }

    .footer ul li a{
        font-size: 56%;
    }

    .home{
        margin-top: 10rem;
        gap: 10rem;
    }

    .exper-box{
        height: 200px;
        width: 260px;
        text-align: center;
    }
}
